@model BDArticleContentViewModel

<div class="details__content pb-30">
    <h2>
        @Model.Title
    </h2>
    <div class="meta-info">
        <ul>
            <li><i class="fal fa-person"></i> Yazar: @Model.Author</li>
            <li><i class="fal fa-comments"></i> @Model.CommentCount Yorum</li>
            <li><i class="fal fa-car"></i> @Model.CategoryName</li>
            <li><i class="fal fa-calendar-alt"></i> @Model.CreatedDate.ToString("dd MMM yyyy")</li>
        </ul>
    </div>
    <p>@Html.Raw(Model.Content)</p>
</div>