@model List<ResultMessageDto>

@{
    ViewData["Title"] = "MessageList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h5 class="mb-0">Gelen Mesaj Listesi</h5>
            <form class="ms-auto position-relative">
                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
                <input class="form-control ps-5" type="text" placeholder="Ara">
            </form>
        </div>
        <div class="table-responsive mt-3">
            <table class="table align-middle">
                <thead class="table-secondary">
                    <tr>
                        <th>#</th>
                        <th>Ad Soyad</th>
                        <th>Email</th>
                        <th>Tarih</th>
                        <th>Konu</th>
                        <th>Mesaj</th>
                        <th>Mesajı Aç</th>
                        <th>Durum</th>
                        <th>Güncelle</th>
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td>@count</td>
                            <td>@item.NameSurname</td>
                            <td>@item.Email</td>
                            <td>@item.SendDate.ToString("dd MMM yyyy")</td>
                            <td>@item.Subject</td>
                            <td>@item.MessageDetail</td>
                            <td>
                                <a href="#" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mesajı Aç"><i class="bi bi-eye-fill"></i></a>
                            </td>
                            <td>
                                <span class="badge @(item.IsRead ? "bg-success" : "bg-danger")">
                                    @(item.IsRead ? "Okundu" : "Okunmadı")
                                </span>
                            </td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="/Message/UpdateMessage/@item.MessageId" class="text-success" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Güncelle"><i class="bi bi-pencil-fill"></i></a>
                                </div>
                            </td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                
                                    <a href="/Message/DeleteMessage/@item.MessageId" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Sil"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="/Message/CreateMessage/" class="btn btn-outline-primary">Yeni Mesaj Girişi</a>
        </div>
    </div>
</div>