@model List<BDCommentViewModel>

<div class="comment__wrap pb-45">
    <div class="comment__wrap-title">
        <h5>Yorumlar (@Model.FirstOrDefault()?.CommentCount)</h5>
    </div>
    @foreach (var item in Model)
    {
        <div class="single__comment mb-35">
            <div class="comments-avatar">
                <img src="@item.AuthorImageUrl" alt="">
            </div>
            <div class="comment-text">
                <div class="avatar-name mb-15">
                    <h6>@item.Author</h6>
                    <span>@item.CommentDate.ToString("dd MMM yyyy")</span>
                </div>
                <p>@item.CommentDetail</p>
            </div>
        </div>
    }
</div>